$six-color-red: var(--six-color-red);
$six-color-black: var(--six-color-black);
$six-color-white: var(--six-color-white);
$six-color-indigo: var(--six-color-indigo);
$six-color-web-rock-900: var(--six-color-web-rock-900);
$six-color-web-rock-800: var(--six-color-web-rock-800);
$six-color-web-rock-700: var(--six-color-web-rock-700);
$six-color-web-rock-600: var(--six-color-web-rock-600);
$six-color-web-rock-500: var(--six-color-web-rock-500);
$six-color-web-rock-400: var(--six-color-web-rock-400);
$six-color-web-rock-300: var(--six-color-web-rock-300);
$six-color-web-rock-200: var(--six-sidebar-header-background-color);
$six-color-web-rock-100: var(--six-color-web-rock-100);
$six-color-web-rock-50: var(--six-color-web-rock-50);
$six-color-clay-200: var(--six-color-clay-200);
$six-color-clay-50: var(--six-color-clay-50);
$six-color-danger-900: var(--six-color-danger-900);
$six-color-danger-800: var(--six-color-danger-800);
$six-color-danger-light-to-be-defined: var(--six-color-danger-light-to-be-defined);
$six-color-warning-800: var(--six-color-warning-800);
$six-color-warning-700: var(--six-color-warning-700);
$six-color-warning-light-to-be-defined: var(--six-color-warning-light-to-be-defined);
$six-color-success-600: var(--six-color-success-600);
$six-color-success-500: var(-six-color-success-500);
$six-color-success-light-to-be-defined: var(--six-color-success-light-to-be-defined);
$six-color-action-600: var(--six-color-action-600);
$six-color-action-500: var(-six-color-action-500);
$six-color-action-light-to-be-defined: var(--six-color-action-light-to-be-defined);
$six-color-inactive: var(--six-color-inactive);
$six-focus-ring-color: var(--six-color-action-600);
$toast-red-200: #fdebe7;
$toast-green-600: #04aa6d;
$toast-green-200: #d9eee1;
