$baseFontSize: 1rem;
$fontSizeSmall: 0.875rem;
$fontSizeExtraSmall: 0.75rem;
$fontSizeLarge: 1.125rem;
$fontSizeExtraLarge: 1.25rem;
$fontSizeXExtraLarge: 1.5rem;
$fontSizeUltraLarge: 2.25rem;
$baseFontWeight: 400;
$fontWeightLight: 300;
$fontWeightSemiBold: 500;
$fontWeightBold: 600;
$fontWeightExtraBold: 800;
$space: 0.5rem;
$space-2: 1rem;
$space-3: 1.5rem;
$space-4: 2rem;
$space-5: 2.5rem;
$space-6: 3rem;
$space-7: 3.5rem;
$space-8: 4rem;
// line height
$baseLineHeight: 1.5;
$lineHeightLarge: 1.7;
$lineHeightSmall: 1.3;
// letter-spacing
$baseLetterSpacing: normal;
// Base color
$baseFontColor: #262626;
// font-family
$fontFamily: 'Noto Sans', 'Noto Sans Mono', monospace, Arial, Helvetica, sans-serif;
